<script type="module" src="@components/pages/home/home.js"></script>
<link rel="stylesheet" href="@components/pages/home/home.scss">

<div class="logo">
	<img src="@img/icons/logo.png" width="240" height="85" alt="logo Chipsters">
</div>
<main data-fls-fullpage  class="page page--home">
	<div class="bg">
		<div class="bg__sakura"></div>
		<div class="bg__chips">
			<img class="bg__chips-item item-chips--1" src="@img/chips/chips-one.png" width="315" height="192" alt="чипса Chipsters">
			<img class="bg__chips-item item-chips--2" src="@img/chips/chips-one-blure.png" width="315" height="192" alt="чипса Chipsters">
			<img class="bg__chips-item item-chips--3" src="@img/chips/chips-one.png" width="315" height="192" alt="чипса Chipsters">
			<img class="bg__chips-item item-chips--4" src="@img/chips/chips-one-blure.png" width="315" height="192" alt="чипса Chipsters">
			<img class="bg__chips-item item-chips--5" src="@img/chips/chips-one.png" width="315" height="192" alt="чипса Chipsters">
			<img class="bg__chips-item item-chips--6" src="@img/chips/chips-one-blure.png" width="315" height="192" alt="чипса Chipsters">
		</div>
	</div>
	<section data-fls-fullpage-section class="section-0">
		<div class="section-0__container">
			<div class="section-0__body">
				<h1 class="section-0__title fs-1 split-lines shadows shadows--red">
					чипси Chipster's<br> це смачно
				</h1>
				<p class="section-0__text fs-1 split-lines shadows shadows--black">
					Азійський чіл<br> у кожному хрусті
				</p>
			</div>
			<div class="section-0__picture">
				<img  src="@img/lesia/lesia-hero.png" width="494" height="741" alt="Леся тримає пачку Chipsters зі смаком азійський барбекю посміхаючись показує чипсу в лівій руці">
			</div>
		</div>
	</section>
	<section data-fls-fullpage-section class="section-1">
		<div class="section-1__container">
			<h2 class="section-1__title fs-2 split-lines shadows shadows--white">
				Азійський чіл<br> який смак спробуєш першим?
			</h2>
			<form data-fls-form="dev" class="section-1__form" action="#" method="POST">
				<div class="options">
					<div class="options__content">
						<label class="options__item options__item--1">
							<input class="options__input" type="radio" value="1" name="option">
							<div class="options__body">
								<div class="options__picture">
									<img class="ibg" src="@img/packs/pack-1.png" width="196" height="270" alt="Пачка чипсів Chipsters Тайський соус">
								</div>
								<div class="options__name">Тайський<br> соус</div>
							</div>
						</label>
						<label class="options__item options__item--2">
							<input class="options__input" type="radio" value="2" name="option">
							<div class="options__body">
								<div class="options__picture">
									<img class="ibg" src="@img/packs/pack-2.png" width="196" height="270" alt="Пачка чипсів Chipsters Тайський соус">
								</div>
								<div class="options__name">Азійський<br> барбекю</div>
							</div>
						</label>
						<label class="options__item options__item--3">
							<input class="options__input" type="radio" value="3" name="option">
							<div class="options__body">
								<div class="options__picture">
									<img class="ibg" src="@img/packs/pack-3.png" width="196" height="270" alt="Пачка чипсів Chipsters Тайський соус">
								</div>
								<div class="options__name">Гострий<br> удон</div>
							</div>
						</label>
					</div>
					<div class="hand">
						<div class="hand__picture">
							<img class="hand__img img-hand--1" src="@img/icons/hand-white.png" width="84" height="73" alt="рука що вказує клікнути на одну з пачок">
							<img class="hand__img img-hand--2" src="@img/icons/hand-red.png" width="84" height="73" alt="рука що вказує клікнути на одну з пачок">
							<img class="hand__img img-hand--3" src="@img/icons/hand-yellow.png" width="84" height="73" alt="рука що вказує клікнути на одну з пачок">
						</div>
					</div>
				</div>
			</form>
		</div>
	</section>
	<section data-fls-fullpage-section class="section-2">
		<div class="section-2__container">
			<div class="section-2__body">
				<h2 class="section-2__title fs-2 split-lines shadows shadows--white">
					Азійський чіл<br> який смак спробуєш першим?
				</h2>
				<div class="section-2__items">
					<div class="section-2__item item-result item-result--1">
						<div class="item-result__pack">
							<div class="item-result__picture">
								<img class="ibg" src="@img/packs/pack-1.png" width="196" height="270" alt="Image">
							</div>
							<p class="item-result__name">Тайський<br> соус</p>
						</div>
						<div class="item-result__title-wr">
							<h3 class="item-result__title  txt-shadow txt-shadow--yellow">Класний вибір — Тайський Соус!</h3>
						</div>
						<div class="item-result__about">
							<p class="item-result__txt">
								Цей смак уже став фаворитом <span class="item-result__percent">30%</span> гурманів.
							</p>
							<p class="item-result__txt">
								Солодко-гостра насолода, що переносить у саме серце Азії.
							</p>
						</div>
					</div>
					<div class="section-2__item item-result item-result--2">
						<div class="item-result__pack">
							<div class="item-result__picture">
								<img class="ibg" src="@img/packs/pack-2.png" width="196" height="270" alt="Image">
							</div>
							<p class="item-result__name">Азійський<br> барбекю</p>
						</div>
						<div class="item-result__title-wr">
							<h3 class="item-result__title  txt-shadow txt-shadow--pink">Супер вибір — Азійський Барбекю!</h3>
						</div>
						<div class="item-result__about">
							<p class="item-result__txt">
								Цей смак вже підкорив <span class="item-result__percent">50%</span> наших фанів.
							</p>
							<p class="item-result__txt">
								Пряно, насичено — справжнє азійське барбекю в кожному хрусті.
							</p>
						</div>
					</div>
					<div class="section-2__item item-result item-result--3">
						<div class="item-result__pack">
							<div class="item-result__picture">
								<img class="ibg" src="@img/packs/pack-3.png" width="196" height="270" alt="Image">
							</div>
							<p class="item-result__name">Гострий<br> удон</p>
						</div>
						<div class="item-result__title-wr">
							<h3 class="item-result__title  txt-shadow txt-shadow--black">Вогонь! Ти обрав Гострий Удон!</h3>
						</div>
						<div class="item-result__about">
							<p class="item-result__txt">
								Його обирають ті, хто любить пікантні пригоди, а це <span class="item-result__percent">40%</span>!
							</p>
							<p class="item-result__txt">
								Японський стиль, який зігріває з першої спроби.
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="section-2__picture">
				<img src="@img/lesia/lesia-packs.png" width="526" height="642" alt="Леся посміхаючись тримає дві пачки Chipsters зі смаком азійський барбекю та гострий удон">
			</div>
		</div>
	</section>
	<section data-fls-fullpage-section class="section-3">
	
	</section>
	<section data-fls-fullpage-section class="section-4">
	
	</section>
</main>
