<script type="module" src="@components/pages/home/home.js"></script>
<link rel="stylesheet" href="@components/pages/home/home.scss">

<div class="logo">
	<img src="@img/icons/logo.png" width="240" height="85" alt="logo Chipsters">
</div>
<main data-fls-fullpage  class="page page--home">
	<div class="bg">
		<div class="bg__sakura"></div>
		<div class="bg__chips">
			<img class="bg__chips-item item-chips--1" src="@img/chips/chips-one.png" width="315" height="192" alt="чипса Chipsters">
			<img class="bg__chips-item item-chips--2" src="@img/chips/chips-one-blure.png" width="315" height="192" alt="чипса Chipsters">
			<img class="bg__chips-item item-chips--3" src="@img/chips/chips-one.png" width="315" height="192" alt="чипса Chipsters">
			<img class="bg__chips-item item-chips--4" src="@img/chips/chips-one-blure.png" width="315" height="192" alt="чипса Chipsters">
			<img class="bg__chips-item item-chips--5" src="@img/chips/chips-one.png" width="315" height="192" alt="чипса Chipsters">
			<img class="bg__chips-item item-chips--6" src="@img/chips/chips-one-blure.png" width="315" height="192" alt="чипса Chipsters">
		</div>
	</div>
	<section data-fls-fullpage-section class="section-0">
		<div class="section-0__container">
			<div class="section-0__body">
				<h1 class="section-0__title fs-1">
					<span class="txt-shadow txt-shadow--red">чипси Chipster's</span><br>
					<span class="txt-shadow txt-shadow--red">це смачно</span>
				</h1>
				<p class="section-0__text fs-1">
					<span class="txt-shadow txt-shadow--black">Азійський чіл</span><br>
					<span class="txt-shadow txt-shadow--black">у кожному хрусті</span>
				</p>
			</div>
			<div class="section-0__picture">
				<img  src="@img/lesia/lesia-hero.png" width="494" height="741" alt="Леся тримає пачку Chipsters зі смаком азійський барбекю посміхаючись показує чипсу в лівій руці">
			</div>
		</div>
	
	</section>
	<section data-fls-fullpage-section class="section-1">
		
	</section>
	<section data-fls-fullpage-section class="section-2">
	
	</section>
	<section data-fls-fullpage-section class="section-3">
	
	</section>
	<section data-fls-fullpage-section class="section-4">
	
	</section>
</main>
